//-------LIGHTMODE------

// to use: <Navbar />

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 100;
  width: 100%;
  padding-left:4%;
  padding-right:4%;
  padding-top:3%;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 100%;
  }

  .logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    &:hover {
      box-shadow: 0 0 5px grey;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white !important;
    font-size: 1.3rem;
    
  }

  a {
    margin-right: 20px; /* Adjust the value to your preference */
    text-decoration: none;
    color: white !important;
    
    &:hover {
      box-shadow:0 0 20px rgb(166, 161, 161);
    }
  }

  .login-logout-btn{
    background-color: #b4b3af;
    border-radius: 4%;
    padding: 5px 10px;

    &:hover {
      box-shadow: 0 0 7px rgba(0,0,0,.50);
      background-color: #AD8D76;
    }
  }

}

//-------DARK MODE NAV-------

//to use: <Navbar mode="dark"/>

.NavbarDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 100;
  width: 100%;
  // padding-bottom: 30%;
  padding-left:4%;
  padding-right:4%;
  padding-top:3%;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    width: 100%;
  }

  .logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    &:hover {
      box-shadow: 0 0 5px grey;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black !important;
    font-size: 1.3rem;
  }

  a {
    margin-right: 20px; /* Adjust the value to your preference */
    text-decoration: none;
    color: black !important;
    
    &:hover {
      box-shadow: 0 0 20px rgb(166, 161, 161);
    }
  }

  .login-logout-btn{
    background-color: #b4b3af;
    border-radius: 4%;
    padding: 5px 10px;

    &:hover {
      box-shadow: 0 0 7px rgba(0,0,0,.50);
      background-color: #AD8D76;
    }
  }

}