.search-filter-bars {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
}

/* Apply this style to each form element for consistent spacing */
.search-filter-bars form {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 4vh;
}

/* Style the select and button within each form */
.search-filter-bars select {
  /* Your select styles here */
}

.search-filter-bars button {
  display: flex;
  align-items: center;
  height: 26.4px;
  margin: 0px
}

.text-search-and-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5vh;
  margin-top: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;

  .text-search-submit-btn{
    margin-left: 1vh;
  }
}






