/* studentBookings.scss */
.section {
  padding: 2rem; /* Add some spacing around the content */
}

.header-student-booking-text {
  text-align: center;
  margin-bottom: 2rem; /* Add spacing below the header */
}

.header-text-bookings {
  position: relative;

  h1 {
    position: absolute;
    top: 60%;
    color: white;
    margin-left: 2vw;
  }
}

.header-image-std-bookings {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* This ensures the aspect ratio is maintained */
  max-height: 650px; /* Adjust as needed */
  display: block;
  margin-bottom: 2%; /* Center the image horizontally */
  top: 0;
  object-fit: cover;
}
.booking-table {

  padding-left:4%;
  padding-right:4%;
  padding-top:3%;
  h1 {
    color: #ad8d76;
    text-align: center;
    margin-bottom: 2%;
  }
}

.no-booking-message {
  color: #ad8d76;
  text-align: center;
  margin-bottom: 2%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem; /* Add spacing below the table */
}

table th,
table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #ad8d76;
}

/* Style the table header row */
table th {
  background-color: #f2f2f2;
  // background-color: #B4B3AF;
  font-weight: bold;
}

.video-button-booking{
  a{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2 !important;
    border: solid 1px #AD8D76;
    color: #AD8D76;
    font-display: none;
    border-radius: 4%;
    padding: 5px 10px;
    width: 50%;

    &:hover {
      box-shadow: 0 0 7px rgba(0,0,0,.50);
      background-color: #ffffff !important;
    }
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .header-text {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }
}

