/* TutorPage.scss */


.tutor-page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
  width: 100%;
  padding-right: -20px;
  background-color: #ECEFF0;

  .tutor-page-content {
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // padding: 20px;
    box-sizing: border-box;
    // margin: 0 auto;
    margin-left:7%;
    margin-right:20%;
    margin-bottom: 20px;
    margin-top: 10%;
  

    .tutor-image {
      display: flex;
      justify-content: flex-start;
      border-radius: 5%;
      width: 40vh; /* Adjust as needed */
      height: auto;
      object-fit: cover;
    }

    .info-buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width:100%;
      
      .tutor-specific-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 30%;
        margin-left: 25%;
        p{
          // color:#AD8D76;
          color:#666666;
        }
        h3{
          color:#6F757A;
        }
      }
    
      .buttons {
        display: flex;
        gap: 10px;
        margin-left: 25%;
      }
      
      
      .message-button {
        background-color: 4CAF4F;
        color: white;
        border: solid 1px rgb(175, 175, 175);
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      
        &:hover {
          background-color:rgb(143, 237, 132);
        }
      }

      .btn-primary {
        background-color:4CAF4F;
        color: white;
        border: solid 1px rgb(175, 175, 175);
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      
        &:hover {
          background-color: rgb(143, 237, 132);
        }
      }

    }
  }

  .reviews-container {
    width: 100%;
    margin-top: 20px;
    
  
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      margin-left:7%;
      color:#6F757A;
    }
  
    .reviews-list {
      list-style: none;
      padding: 0;
      width: 30%;
      padding-left: 100px;
      padding-left: 7%;
      margin-top: 1%;
  
      li {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  
      p {
        margin: 5px 0;
      }

      

    }
  }

  .review-btn{
    margin-left: 7%;
    margin-bottom: 1%;
  }

}

.review-form{
  margin-left: 7%;
  margin-right: 23%;
}

.login-message{
  color: #d32f2f; /* Red color */
  font-size: 16px;
  margin-top: 10px;
}